html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction:column;
    background-color:#DADEE7;
    color:black;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div, ul{
    margin: 0;
    padding: 0;
}

nav, footer, section, div{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 100%;
    position: relative;
}

section{
    margin: auto;
    width: 90%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px 0px;
}

h5{
    height: 60%;
}

a:hover{
    text-decoration: none !important
}

li{
    padding: 0px 10px;
    margin: auto;
    color: #ffffff;
    display: inline-block;
}

li:hover{
    background-color: gray;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

/*--------------------------------ID SELECTORS--------------------------------*/

/*Header css start*/
#navigation-bar{
    display: block;
    position: fixed;
    z-index:1;
    top: 0;
    width: 100%;
    color:#ffffff;
    background-color: #0C0C14;
    height: 40px;
    line-height: 40px;
}

#movie-logo{
    color:white;
    vertical-align: middle;
    margin: 0px 0px 10px 5px;
}

#website-name{
    display:inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 5px;
    text-decoration: none;
}

#nav-list{
    padding: 0px 10px;
    margin: 0px;
    float: right;
    list-style: none;
}
/*Header css end*/

/*Footer css start*/
#footer{
    color:#ffffff;
    position: relative;
    flex-shrink: 0;
    background-color: #0C0C14;
    font-size: 12px;
    height: 80px;
}

#copyright{
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom:0;
}
/*Footer css*/
/*--------------------------------CLASSES SELECTORS--------------------------------*/
.navbar-list-links{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.half-height{
    height: 50%;
}

/*Login form css classes start*/
.login-input{
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 2px auto 10px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button{
    display: block;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.register-link{
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
}
/*Login form css classes end*/

/*Appearing contant css classes end*/
