.flex-container {
    display: flex;
    flex-direction: column;
}

.column-content {
    display: inline-block;
    line-height: 100px;
}

span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
