/*--------------------------------ELEMENT SELECTORS--------------------------------*/
html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction:column;
    background-color:#DADEE7;
    color:black;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div, ul{
    margin: 0;
    padding: 0;
}

nav, footer, section, div{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 100%;
    position: relative;
}

section{
    margin: auto;
    width: 90%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px 0px;
}

h5{
    height: 60%;
}

li, a{
    padding: 0px 5px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
}

li:hover {
    background-color: dimgray;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

/*--------------------------------ID SELECTORS--------------------------------*/

/*Header css start*/
#navigation-bar{
    display: block;
    position: fixed;
    z-index:1;
    top: 0;
    width: 100%;
    color:#ffffff;
    background-color: #0C0C14;
    height: 40px;
    line-height: 40px;
}

#movie-logo{
    color:white;
    vertical-align: middle;
    margin: 0px 0px 10px 5px;
}

#website-name{
    display:inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 5px;
    text-decoration: none;
}

#nav-list{
    padding: 0px 10px;
    margin: 0px;
    float: right;
    list-style: none;
}
/*Header css end*/

/*Footer css start*/
#footer{
    color:#ffffff;
    flex-shrink: 0;
    background-color: #0C0C14;
    font-size: 12px;
    height: 80px;
}

#copyright{
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom:0;
}
/*Footer css*/
/*--------------------------------CLASSES SELECTORS--------------------------------*/
.navbar-list-links{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

/*Grid css classes start*/
.grid_margin{
    margin-top: 50px;
    margin-bottom: 20px;
}

.grid-name{
    font-size: 30px;
    text-align: center;
}

.no-gutters{
    margin-right: 0;
    margin-left: 0;
}
/*Grid css classes end*/

/*Film display in grid css classes start*/
.film-box{
    background-color: rgba(70, 66, 70, 0.137);
    border-color: #FFFEFF;
    margin: 3px 3px;
}

.images{
    float: left;
    height: 100%;
    width: 45%;
}

.film-info-container{
    height: 100%;
    padding: 4px 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.film-info-display{
    margin: 20px 0;
}

.IMDB-rating{
    display: inline-block;
    border-radius: 4px;
    background-color:rgba(226, 188, 0, 0.7);
    font-weight: bold;
    padding: 1px 5px;
}
/*Film display in grid css classes end*/

.half-height{
    height: 50%;
}

/*Login form css classes start*/
.login-input{
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 2px auto 10px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button{
    display: block;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.register-link{
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
}
/*Login form css classes end*/
/*Appearing film info css classes start*/
.appear-images{
    float: left;
    height: 100%;
    width: 20%;
    padding: 10px;
}
/*Appearing film info css classes end*/

/*Appearing contant css classes end*/
