.poster-size{
    height: 100%;
    width: 100%;
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    margin-right: 10px;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:5px;
}

.like{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}

a.like{
    color:white;
    text-decoration: none;
}

.counter {
    text-align: center;
    padding: 0;
    border: none;
    width:20px;
    background: transparent;
}

.text-newlines{
    white-space: pre-wrap;
}
