.poster-size{
    height: 100%;
    width: 100%;
}

.IMDB-rating{
    display: inline-block;
    border-radius: 4px;
    background-color:rgb(3, 37, 65);
    color:rgb(1, 180, 228);
    font-weight: bold;
    padding: 1px 5px;
}

.dropdown-content{
    display: none;
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 10, 10, 0.698);
    color: black;
    width: 100%;
    height: 100%;
}

.appearing-content-container-size{
    width: 50%;
}

.appearing-content-container-margin{
    margin: 5% auto 15% auto;
}

.counter {
    text-align: center;
    padding: 0;
    border: none;
    width:20px;
    background: transparent;
}

.poster_image_size{
    height: 250px;
    width: 180px;
}
