.flex-container {
    margin: auto;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    padding:5px
}

.flex-container > div {
    width: 200px;
    flex: 1 0 17%;
    text-align: center;
    margin:5px
}

.person-box{
    background-color: #6b778d;
    margin:auto;
    width:235px;
}

.person-box h5{
    margin: 0;
    margin-top: 5px;
}

.person_image_size{
    margin:auto;
    height: 235px;
    width: 235px;
}
