/*--------------------------------ELEMENT SELECTORS--------------------------------*/
html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction:column;
    background-color:#DADEE7;
    color:black;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div, ul{
    margin: 0;
    padding: 0;
}

nav, footer, section, div{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    position: relative;
}

section{
    margin: auto;
    width: 90%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px 0px;
}

h5{
    height: 60%;
}

a:hover{
    text-decoration: none !important
}

li{
    padding: 0px 10px;
    margin: auto;
    color: #ffffff;
    display: inline-block;
}

li:hover{
    background-color: gray;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

input[type=text], input[type=password], input[type=email], select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

input[type=date]{
    width: 25%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

/*--------------------------------ID SELECTORS--------------------------------*/

/*Header css start*/
#navigation-bar{
    display: block;
    position: fixed;
    z-index:1;
    top: 0;
    width: 100%;
    color:#ffffff;
    background-color: #0C0C14;
    height: 40px;
    line-height: 40px;
}

#movie-logo{
    color:white;
    vertical-align: middle;
    margin: 0px 0px 10px 5px;
}

#website-name{
    display:inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 5px;
    text-decoration: none;
}

#nav-list{
    padding: 0px 10px;
    margin: 0px;
    float: right;
    list-style: none;
}
/*Header css end*/

/*Footer css start*/
#footer{
    color:#ffffff;
    position: relative;
    flex-shrink: 0;
    background-color: #0C0C14;
    font-size: 12px;
    height: 80px;
}

#copyright{
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom:0;
}
/*Footer css end*/

/*--------------------------------CLASSES SELECTORS--------------------------------*/
.navbar-list-links{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.form-container{
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}
