.search-container {
    height: 50px;
}

.search-container form {
    display: flex;
    height: 100%;
}

.search-container form button {
    width: 10%;
    height: 100%;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.input-field {
    display: flex;
    width: 96%;
}

.input-field input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 5px 5px;
    border: none;
    color: black;
}

::placeholder {
    color: gray;
}

.autocomplete-list {
    width: 88%;
    z-index: 10;
    top: 31%;
    position: absolute;
    left: 1%;
    background-color: white;
    box-shadow: 1px 2px 3px grey;
    padding: 0px 0px 0px 60px;
    box-sizing: border-box;
}

.autocomplete-list div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.autocomplete-list div h5{
    color: darkgray;
    margin-top: 3px;
}

.autocomplete-list h4{
    color: black;
}

.autocomplete-list div:hover{
    cursor: pointer;
}

.autocomplete-list div:hover h4{
    color: #FF690E;
}
